@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root{
   --Black: #020403;
   --Brown: #1C1717;
   --Gray: #ADADAD;
   --Withe: #fff;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
   scroll-behavior: smooth;
}

body{
   background-color: var(--Black);
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 8vh;
}

body::-webkit-scrollbar {
   width: 0.8vw;
   border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
   background: var(--Brown);
   border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
   background: #272020;
   /* box-shadow: 0 0 2px 1px rgba(245, 242, 242, 0.2); */
}

body::-webkit-scrollbar-thumb:active {
   background-color: #332a2a;
}

.header{
   width: 100%;
   height: 100vh;
   /* background-image: url("./imgs/Group\ 99.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;  */
   padding: 6vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header nav{
   width: 100vw;
   height: 12vh;
   top: 0px;
   left: 0;
   padding: 2vh;
   position: absolute;
   display: flex;
   justify-content: end;
   align-items: center;
}

nav .menu{
   position: fixed;
   display: flex;
   width: 80%;
   height: 60vh;
   margin-top: -100%;
   margin-right: -100%;
   list-style: none;
   background-color: var(--Gray);
   flex-direction: column;
   padding: 6vh;
   top: 0;
   right: 0;
   justify-content: space-between;
   align-items: center;
   border-bottom-left-radius: 2vh;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
   z-index: 10;
   transition: margin-top 0.6s, margin-right 0.6s;
}

.icon_menu{
   display: block;
}

.menu li{
   font-weight: 700;
   padding: 5% 12%;
   border-radius: 30px;
   transition: background-color 0.5s;
}

.menu li a{
   text-decoration: none;
   color: var(--Black);
   transition: color 0.5s;
}

.menu li.active{
   background-color: var(--Brown);
}

.menu li.active a{
   color: var(--Withe);
}

.icon_equis{
   position: absolute;
   top: 2vh;
   right: 2vh;
}

.icon_equis span{
  font-size: 5vh;
}

nav .menu_barr{
   margin-top: 0;
   margin-right: 0;
}

.header .me{
   margin-top: 10vh;
   width: 56%;
   margin-bottom: 6vh;
   z-index: 2;
}

.introduction{
   width: 100%;
   text-align: center;
   color: var(--Withe);
   display: flex;
   flex-direction: column;
   gap: 2vh;
   z-index: 2;
}

.introduction p{
   font-size: 25px;
   color: var(--Gray);
   font-weight: 600;
}

.introduction h1{
   font-size: 40px;
   font-weight: 600;
}

.networks{
   width: 50%;
   align-self: center;
   display: flex;
   justify-content: space-between;
   z-index: 2;
}

.networks img{
   cursor: pointer;
}

.bacground_img_1{
   position: absolute;
   top: 10vh;
   z-index: 1;
   width: 100%;
   /* height: 30vh; */
}

.bacground_img_2{
   position: absolute;
   width: 100%;
   bottom: -10vh;
   z-index: 1;
}

.about_me{
   width: 100%;
   height: 50vh;
   padding: 6vw;
   z-index: 2;
}

h2{
   color: var(--Withe);
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 4vh;
}

.about_me p{
   text-align: center;
   color: var(--Gray);
}


.my_abilities{
   width: 100%;
   padding: 6vw;
   position: relative;
   overscroll-behavior-x: inherit;
   height: auto;
}

.my_abilities > img{
   position: absolute;
   width: 26%;
   top: -4vh;
   right: -10vw;
   size: 0;
}

.abilities{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 3vh;
}

.abiliti{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--Withe);
}

.abiliti p{
   font-size: 4.5vw;
}

.abiliti .img{
   width: 14vh;
   height: 14vh;
   margin: 8px;
   border-radius: 50%;
   background-color: var(--Brown);
   display: flex;
   justify-content: center;
   align-items: center;
}

.img img{
   width: 64%;
}


.experiences{
   padding: 6vw;
   position: relative;
}

.experience{
   width: 100%;
   display: flex;
   gap: 20vw;
}

.experience > p{
   color: var(--Gray);
}

.experience .section p:nth-child(1){
   color: var(--Withe);
}

.experience .section p:nth-child(2){
   color: var(--Gray);
}

.barr{
   width: 100%;
   height: 0.2vh;
   margin: 1.4vh 0;
   border-radius: 5px;
   background-color: var(--Brown);
}

.experiences img{
   width: 26%;
   position: absolute;
   left: -40px;
   bottom: -12vh;
}


.briefcase{
   padding: 6vw;
}

.briefcase_imgs{
   display: flex;
   flex-direction: column;
   gap: 6vh;
}


.contacts{
   padding: 6vw;
}

.sections{
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.contact{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1vh;
   color: var(--Gray);
}

.contact .img{
   width: 14vh;
   height: 14vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: var(--Gray) 2px solid;
   border-radius: 50%;
}

.contact .img img{
   width: 50%;
}



@media (min-width: 600px){
   body{
      width: 100%;
   }

   .header{
      padding: 0;
   }

   .header nav{
      position: fixed;
      width: 100vw;
      height: 10vh;
      top: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 20;
      transition: background-color 0.8s;
   }

   .header nav.style{
      background-color: #1c1717e3;
   }
   
   nav .menu{
      margin-right: 2vw;
      position: relative;
      width: 68%;
      height: 12vh;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      padding: 0;
      top: auto;
      left: auto;
      right: auto;
      background-color: transparent;
      justify-content: space-between;
      align-items: center;
      box-shadow: none;
      transition: none;
      z-index: 19;
   }
   
   .icon_menu{
      display: none;
   }
   
   .menu li{
      font-weight: 400;
      padding: 1vw;
   }
   
   .menu li a{
      text-decoration: none;
      color: var(--Gray);
   }
   
   .menu li.active{
      background-color: var(--Withe);
      border-radius: 30px;
   }
   
   .menu li.active a{
      font-weight: 700;
      color: var(--Black);
   }
   
   .icon_equis{
      display: none;
   }
   
   .icon_equis span{
     font-size: 5vh;
   }
   
   nav .menu_barr{
      margin-top: 0;
   }



   .header .me{
      margin-top: 10vh;
      width: 20vw;
      margin-bottom: 6vh;
   }
   
   .introduction{
      width: 40%;
      gap: 2vh;
   }
   
   .introduction p{
      font-size: 25px;
      font-weight: 600;
   }
   
   .introduction h1{
      font-size: 40px;
      font-weight: 600;
   }
   
   .networks{
      width: 40%;
      align-self: center;
      display: flex;
      justify-content: space-between;
      z-index: 2;
   }


   .bacground_img_1{
      width: 100%;
   }
   
   .bacground_img_2{
      position: absolute;
      width: 100%;
      bottom: -80vh;
   }
   
   .about_me{
      width: 100%;
      height: 50vh;
      padding: 6vw 10vw;
   }
   
   .about_me h2{
      text-align: center;
   }
   
   
   .my_abilities{
      width: 100%;
      /* height: 60vh; */
      padding: 0 10vw;
      position: relative;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      display: flex;
      flex-direction: column;
   }
   
   .my_abilities > img{
      width: 24%;
      top: -4vh;
      right: -10vw;
      position: absolute;
   }
   
   .abilities{
      align-self: center;
      width: 70vw;
      display: grid;
      margin: 0;
      gap: 6vw;
   }
   
   .abiliti{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--Withe);
      gap: 2vh;
   }
   
   .abiliti p{
      font-size: 1.2vw;
   }
   
   .abiliti .img{
      cursor: pointer;
      width: 10vw;
      height: 10vw;
      margin: 8px;
      border-radius: 50%;
      transition: background-color 0.5s;
   }
   
   .img img{
      width: 60%;
      color: #1C1717;
   }

   .abiliti .img:hover{
      background-color: var(--Gray);
   }
   
   
   .experiences{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .experiences h2{
      text-align: center;
      margin-bottom: 8vh;
   }
   
   .experience{
      width: 70%;
      display: flex;
      gap: 20vw;
   }
   
   .experience > p{
      color: var(--Gray);
   }
   
   .experience .section p:nth-child(1){
      color: var(--Withe);
   }
   
   .experience .section p:nth-child(2){
      color: var(--Gray);
   }
   
   .barr{
      width: 70%;
      height: 0.2vh;
      margin: 1.4vh 0;
      border-radius: 5px;
      background-color: var(--Brown);
   }
   
   .experiences img{
      width: 26%;
      position: absolute;
      left: -40px;
      bottom: -12vh;
   }
   

   .briefcase{
      /* display: none; */
      padding: 6vw 10vw;
   }

   .briefcase_imgs{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6vh;
   }

   .briefcase_imgs img{
      cursor: pointer;
      width: 100%;
      transition: transform 0.6s;
   }

   .briefcase_imgs img:hover{
      transform: translate(0, -20px);
   }
   

   .briefcase h2{
      text-align: center;
   }
   
   
   .contacts{
      padding: 6vw;
      display: flex;
      flex-direction: column;
   }

   .contacts h2{
      text-align: center;
   }
   
   .sections{
      align-self: center;
      display: flex;
      width: 30vw;
      justify-content: space-between;
   }
   
   .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
      color: var(--Gray);
   }
   
   .contact .img{
      cursor: pointer;
      width: 5vw;
      height: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background-color 0.5s;
   }

   .contact .img:hover{
      background-color: var(--Gray);
   }
   
   .contact .img img{
      width: 50%;
   }
}